body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#0a3cff,#4da6ff);
    color:white;
}

.container {
    max-width:600px;
    margin:auto;
    padding:20px;
}

h1 {
    text-align:center;
}

.question {
    margin:20px 0;
}

input {
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    margin-top:5px;
}

button {
    width:100%;
    padding:15px;
    background:white;
    color:#0a3cff;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

button:hover {
    transform:scale(1.03);
}